<!-- JUMBOTRON START -->
<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h2>☪ Al-Qur'an ID </h2>
		<h1 class="display-4">Penuhi Kebutuhan Islami Harian Anda Di Sini. Akses Kapan Saja Di Mana Saja, Semuanya Lebih Mudah Dengan Al-Quran ID</h1>
		<a class="btn btn-light" href="/surah">Ayo Mulai!</a>
	</div>
</div>
<!-- JUMBOTRON END -->

<!-- LIST START -->
<div class="list" id="list">
	<p class="list-title">Potongan Ayat</p>
	<div class="box">
		<h4 class="nomor"><%= random.data.inti %></h4>
		<h3 class="arab" dir="auto"><%= random.data.arab %></h3>
		<p class="latin"><%= random.data.latin %></p>
		<!-- Q.S. Al-Hasyr/59: 7 -->
		<p class="arti"><%= random.data.arti %> (Q.S. <%= random.nama_latin %>/<%= random.nomor %>: <%= random.data.nomor %>)</p>
	</div>
</div>
<!-- LIST END -->