<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head/header'); %>
	</head>
	<body>
		<%- include('../partials/body/navbar'); %>
		<%- include('../partials/body/tafsir'); %>
		<%- include('../partials/body/scrollup'); %>
		<%- include('../partials/body/footer'); %>

		<%- include('../partials/body/scripts'); %>
	</body>
</html>